.App {
background-color: white;
display: flex;
flex-wrap: wrap;
}

.movieImage {
  width:100%; 
  height: 100%;

}
.item {
  flex: 1;
  position: relative;
  flex-basis: 400px; 
  }

.overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden; 
  transition: .5s ease;
  height: 0%;
  padding: 30px; 
   opacity:0;
}

.item:hover .overlay {
  opacity: 1;
  height: 3%;
}

.item:hover{
  float: unset;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.90);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.text {
  color: rgb(218, 218, 218);
  font-size: 25px;
  text-align: center;
 }

.deetstext {
  color: blueviolet; 
}
a {
  text-decoration: none;
}