
.App {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  
}


.movieImage {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center; 
  width:100%; 

}




.App-header {
  background-color: rgb(187, 14, 14);
  height: 150px;
  padding: 20px;
  color: pink;
  z-index: -1; position:relative;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  /*z-index: 1; position:relative;*/
  color: yellow;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes App-logo-anti {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

.container {
  display: flex;
}
.item {
  flex: 1;
}

@media only screen and (max-width: 640px) {
  .container{
    display: block;
  }
  }

