.background{
    background: #648880;
    background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
  

}

.film-name{
    text-align: center;
    font-size: 70px;
    padding-top: 50px;
}
.details-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 100px auto 0;
}
.synop{
    font-size: 40px;
    width: 40%;
}
.detials-container-cover{
    flex: 1; 
    padding-left: 100px;
    
    
}

.image{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.2);
}

@media only screen and (max-width: 640px) {
  .details-container{
    display: block;
    margin: 10% auto 0;
  }
  .detials-container-cover{
    padding: 0%;
    padding-top: 10%;
  }
  .synop{
      width: 100%;
  }
} 

